## **Anaconda Setup**
[Download from this link:](https://docs.anaconda.com/anaconda/install/)

Check this video for installation: https://www.youtube.com/watch?v=9V2IvJWZJ3I

# **Python Basics!**
 - Case Sensetive.
 - Spacing.

## **Comments**

### Oneline comment

In [1]:
# one line comment

### Multiline comment

In [2]:
"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

As long as the string is not assigned to a variable, Python will read the code, but then ignore it, and you have made a multiline comment.

## **Operators**

*   Addition +
*   Subtraction -
* Multiplication *
* Division /
*  Mod (the remainder after dividing) %
* Exponentiation (note that ^ does not do this operation) **
* Divides and rounds down to the nearest integer //

In [3]:
# Division 
8 / 3

2.6666666666666665

In [4]:
8 / 2

4.0

**/ always return float number**

In [5]:
8 // 2

4

In [6]:
# Integer Division or Floor division
8 // 3

2

In [7]:
# Integer Division or Floor division

-8 // 3

-3

**// integer division or Floor division**

In [8]:
# Mod
9 % 2

1

In [9]:
7 % 5

2

In [10]:
# Exponentiation
3 ** 2

9

In [11]:
1 + 2 + 3 * 3

12

In [12]:
3 + 2 

3 * 2

6

## **Print**

In [13]:
# number
print(3)

3

In [14]:
# string '' or ""
print("NADA")

NADA

In [15]:
print(3+2)
print(3*2)

5
6

In [16]:
#Don't  -- 2 ways
print("Don't")
print('Don\'t')

Don't
Don't

In [17]:
# Sara\Nour
print('Sara\\Nour')
# Sara/Nour
print('Sara/Nour')

Sara\Nour
Sara/Nour

**Newline  -- 2 ways**

In [ ]:
# \n 
print('Hello\n world')

In [18]:
# """   """
print("""Hello
world""")

Hello
world

In [20]:
#tab \t
print("nada\tmohmed")

nada	mohmed

In [19]:
# concatnate
print("nada" + "mohmed")
print("nada" + ' ' + "mohmed")
print('Nada', 'Mohamed')

nadamohmed
nada mohmed
Nada Mohamed

In [21]:
# default Newline like Console.WriteLine() in c#
print(1)
print(2)
print(3)

1
2
3

In [22]:
# One line  like Console.Write() in c#
# 1 2 3 
print(1, end = ' ')
print(2, end = ' ')
print(3, end = ' ')

1 2 3

## **Variables** 
 used to store value, call .. and update it(sometimes)
 - Program 
 - User

In [23]:
x = 3
print(x)
print(type(x))

3
<class 'int'>

In [24]:
# can i do that?
x = "N"
print(x)
print(type(x))

N
<class 'str'>

In [25]:
z = 3 + 4
print("z =",z)

y = z * 2
print("y =",y)

z = 7
y = 14

In [26]:
Z = 1
Z +=5
Z

6

In [27]:
# variables names
_n = 3
n = 3 
#1n = 3
#-n = 3
#n*3 = 3
#keywords

#help()

In [28]:
# more than one var in one line 
x, y = 3 , 4

In [29]:
# Assign one value to many variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
# Save data from user 
x = input()

3

In [30]:
#  input message
x = input("Hi")

Hi3

In [31]:
#input message newline
x = input("Hi\n")

Hi
3

In [32]:
#input datatype
type(x)

str

In [33]:
# right numeric  input
x = int(input("Hi\n"))
## int, float, bool, string

Hi
3

In [34]:
#input datatype
type(x)

int

In [35]:
x = 1.10
y = x = 35e3
z = -35.59j

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'complex'>

## **String**

In [36]:
# ' ' or " "
Name = 'Ali'
Name = "Mohamed"

In [37]:
x = Name * 3
print(x)

MohamedMohamedMohamed

### indexing

In [38]:
# Ali -- A:0 , l:1 , i:2

print(Name[0])
# print(Name[3]) #out of range

M

### Slicing

In [39]:
S = 'ABCDEF'
# A: 0  B:1   C:2   D:3   E:4   F:5 

S[0:2]
S[:2]

'AB'

In [40]:
# print CD
S[2:4]

'CD'

In [41]:
# A: -6  B:-5   C:-4   D:-3   E:-2   F:-1
# all char except the last (negative index)
S[:-1]

'ABCDE'

In [42]:
# all char except the  first & The last (negative index)
S[1:-1]

'BCDE'

### Split

In [43]:
Example = 'nada mohamed awad.'

In [44]:
# Split to list
Example.split()

['nada', 'mohamed', 'awad.']

In [45]:
#split & assign to variables
fname, midname, lname = Example.split()

In [ ]:
#test
midname

'mohamed'

In [46]:
# split by specific char
Example2 = 'nada-mohamed'
Example2.split('-')

['nada', 'mohamed']

In [47]:
Example.split('.')

['nada mohamed awad', '']

In [48]:
# custom split 
Example.split(' ', 1)

['nada', 'mohamed awad.']

### Join

In [49]:
#join strings with word or char
'*'.join([fname, midname, lname])

'nada*mohamed*awad.'

### Some String Functions

In [50]:
# length 
len(Example)

18

In [51]:
# Capitalized (First char)
Example.capitalize()

'Nada mohamed awad.'

In [52]:
# lower case
Example.lower()

'nada mohamed awad.'

In [53]:
# upper case 
Example.upper()

'NADA MOHAMED AWAD.'

In [54]:
## is lower? 
Example.islower()

True

In [55]:
Example

'nada mohamed awad.'

In [56]:
# Searching for char or substring
Example.index('m')

5

In [57]:
Example.find('m')

5

#### for more details: https://www.geeksforgeeks.org/difference-between-find-and-index-in-python/

In [60]:
## start with?
Example.startswith('na') # case sensetive

True

In [61]:
## end with?
Example.endswith('a')

False

In [62]:
## count
Example.count('d')

3

In [63]:
## count 
Example.count('A')

0

In [64]:
#replace values
a = "Hello, World!"
print(a.replace("H", "J"))
# print(a)  not change

Jello, World!

In [65]:
# removes any whitespace from the beginning or the end 
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [66]:
print("Mohammed has {} balloons".format(27))

Mohammed has 27 balloons

In [67]:
animal = "dog"
action = "bite"
print("Does your {} {}?".format(animal, action))

Does your dog bite?

### F-string

In [68]:
num_ballons = 27
print(f"Mohammed has {num_ballons} balloons")

Mohammed has 27 balloons

In [69]:
animal = "dog"
action = "bite"
print(f"Does your {animal} {action}?")

Does your dog bite?

## **Data Structures**

### **list [ ]**
Lists are used to store multiple items in a single variable.
- mutable
- orderd
- allow duplicates

In [ ]:
l = [1,10,5,5]
#l = ['a','b']
l

[1, 10, 5, 5]

In [ ]:
# allow different data types?
l2 = [1,'m',3.1]
l2

[1, 'm', 3.1]

#### indexing

In [ ]:
l2 = [1,'m',3.1]
l2[0]

1

In [ ]:
#l2[3]

In [ ]:
#last element 
l2[-1]

3.1

In [ ]:
# use list indexing to determine the number of days in month
month = 8
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
num_days = days_in_month[month - 1]

print(num_days)

31

#### slicing

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

In [ ]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

#### list of lists

In [ ]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [ ]:
hands[0][0]

'J'

**Mutability**

Mutability is about whether or not we can change an object once it has been created.

 - If an object can be changed then it is called **mutable**
 
 - If not : **immutable**

In [ ]:
# Lists are mutable
X = [1,2,3]

In [ ]:
X[0] = '6'
X

['6', 2, 3]

In [ ]:
# Strings are immutable
s = 'Nada'
#s[0] = 'A'
s

'Nada'

In [ ]:
 #Let's compensate by shortening the names of the first 3 planets.
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)

['Mur', 'Vee', 'Ur', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
# Change the second and third value by replacing it with one value:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

#### Some Functions

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
#Extend
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
# append
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.append(tropical)
print(thislist)

In [ ]:
# How many planets are there?
len(planets)

8

In [ ]:
x = [1,5,2,4,3]
sorted(x) ## copy
x
## x.sort() #not copy
#x

[1, 5, 2, 4, 3]

In [ ]:
primes = [2, 3, 5, 7]
sum(primes)

17

In [ ]:
max(primes)

7

#### List methods

In [ ]:
#adding an item to the end:
planets.append('Pluto')

In [ ]:
#removes and returns the last element of a list:
planets.pop()

'Pluto'

In [ ]:
#removes and returns the specific  element by index  in a list:

#planets.pop(1)

In [ ]:
#remove specific value
planets.remove("****")

In [ ]:
planets.reverse()

In [ ]:
#planets.index('Earth')

In [ ]:
# Is Earth a planet?
"Earth" in planets

False

In [ ]:
#copy 
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

###  **Tuple ( )**
Tuples are almost exactly the same as lists. They differ in just two ways.

- 1: The syntax for creating them uses parentheses instead of square brackets.
- 2: They cannot be modified (they are immutable).

In [ ]:
t = (1, 2, 3)

In [ ]:
type(t)

In [ ]:
t = 1, 2, 3 # equivalent to above
type(t)

#### tuple With One Item

In [ ]:
thistuple = (1)
type(thistuple)

int

In [ ]:
thistuple = ("apple",)
type(thistuple)

In [ ]:
a= ((1,2),(3,4))
type(a)

tuple

In [ ]:
b = ([1,2],[3,4])

#### immutable

In [ ]:
t = (1, 2, 3)
t[0] = 100

In [ ]:
t.append(1)

#### I Should add items!

In [ ]:
## 1  Convert into a list
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
thistuple

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# 2- Add tuple to a tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

#### remove items

In [ ]:
# convert to list at first
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [ ]:
# delete tuple completely
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

#### indexing

In [ ]:
t[1]

#### slicing

In [ ]:
t[:2]

#### unpack

dimensions = (52, 40, 100)
length, width, height = dimensions
print(f"The dimensions are {length} x {width} x {height}")