## **Recap ^_^**
- Comments: 
  - oneline #
  - multiline '''   ''' or """  """
- Operators: 
  - / float division
  - // floor or integer division
  - ** Exponentiation
- Print:
  - print() --> by default print end with new line.
  - print('N', end = ' ') --> print in one line & separate by space.
  - print ('A' +'B') --> AB
  - print ('A' ,'B') --> A B
- Variables: 
  - No need to define data type.
  - Can declare many var in one line --> a,b,z = 1,2,3
  - Can assign one value to many var --> a,b,z = 1
  - Must cast user input to right data type because input() always return srting.
- String: 
  - ' ' or " " 
  - order --> can access chars in string by index
  - immutable (not changed) --> a = 'data' ..  a[0] ='s' NOT ALLOWED.
  - index has 2 ways: 
    - left to right 0, 1, 2 ... etc.
    - right to left -1, -2, -3 .. etc.
  - Many methods & functions 
    - split, strip, find, index, count, len() .. etc.
  - F-string
    - Print(f"Hello, {Name}")
 - Data Structures: 
    - List [ ]
      - mutable
      - order
      - allow duplicate
      - we can define list of lists [[],[]].
      - also list can have many diff data types [1,'a',3.3]
      - append, pop, clear, .. etc
    - Tuple ( )
      - like list but immutable.

## **Data Structure**

### **Set { }**
- mutable
- unorderd
-unique elements.

In [ ]:
# define a set
fruit = {"apple", "orange", "grapefruit", "apple","apple", "banana"}

In [ ]:
# unique
# sorted
print(fruit)

{'apple', 'banana', 'grapefruit', 'orange'}

In [81]:
# unorderd
fruit[1]

NameError: name 'fruit' is not defined

In [ ]:
# check for element
print("watermelon" in fruit)

False

In [ ]:
# add an element
fruit.add("watermelon")
print(fruit)

{'orange', 'banana', 'grapefruit', 'watermelon', 'apple'}

In [ ]:
## add items (set, list, tuple)
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'cherry', 'mango', 'pineapple', 'papaya', 'apple'}

In [19]:
# remove item 1st way
thisset = {"apple", "banana", "cherry"}

#thisset.remove("banana")
thisset.remove("watermelon")

print(thisset)

KeyError: 'watermelon'

Note: If the item to remove does not exist, remove() will raise an error.

In [21]:
# remove item 2nd way
thisset = {"apple", "banana", "cherry"}

#thisset.discard("banana")
thisset.discard("b")

#thisset.remove("watermelon")
print(thisset)

{'banana', 'apple', 'cherry'}

Note: If the item to remove does not exist, discard() will NOT raise an error.

In [83]:
 # remove a random element
thisset = {"apple", "banana", "cherry"}
print(thisset)
print(thisset.pop()) 
print(thisset)

{'banana', 'apple', 'cherry'}
banana
{'apple', 'cherry'}

Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [ ]:
# clear set (make it empty)
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [23]:
# delete set completely
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [24]:
#length
print(len(fruit))

NameError: name 'fruit' is not defined

[For more function & amazing information click here](https://www.w3schools.com/python/python_sets_join.asp)

### **Dictionary**
- A mutable data type.
- Stores mappings of unique **keys** to **values**.
- Duplicates Not Allowed

In [25]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}

Dictionaries can have keys of any immutable type:
-  like integers.
-  tuples.
-  strings.

It's not even necessary for every key to have the same type!

In [ ]:
Ex3 = {
        1:1,
       'a':2,
       (1,2):5
       }

#### Access dict

In [ ]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}
# use get
print(elements.get('helium'))

# Not found?
print(elements.get('h'))

# message
print(elements.get('kryptonite', 'There\'s no such element!'))

2
None
There's no such element!

In [26]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}

# use key
print(elements['helium'])

# Not found?
print(elements['h'])

2

KeyError: 'h'

In [ ]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}

# Check 
"carbon" in elements

True

#### dict of lists or dicts

In [28]:
animals = {'dogs': ['1', '2', '3'], 'cats': [1,2], 'rabbits': [1, 2, 3], 'fish': [0.3, 0.5, 0.8, 0.3, 1]}

In [31]:
#  how access item?
animals['rabbits'][1]

2

In [34]:
elements = {"hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"},
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}}

In [37]:
# question ^^  print number of helium
elements["helium"]["number"]

2

#### Dict Remove duplicates

In [39]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# access key by value ?

In [44]:
for keys in thisdict.keys():
    if thisdict[keys]== 'Ford':
        print(keys)

brand

#### Keys and values

In [ ]:
# Show keys
thisdict = {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [ ]:
# Show valus
thisdict = {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

thisdict.values()

dict_values(['Ford', 'Mustang', 2020])

In [46]:
# add value 

thisdict = {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

thisdict['color'] = "white"

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'white'}

In [48]:
# update value 

thisdict = {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

thisdict["year"] = 2022
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [ ]:
# update (update or add)

thisdict = {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

thisdict.update({"color": "red"})
print(thisdict)


thisdict.update({"color": "blue"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'blue'}

In [49]:
#### add new item and check keys

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()
print(x) #before the change

car["color"] = "white"
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'white'])

In [51]:
x = [1,2,3]
y = x 
print('y',y)

x[0]= 2

print('x',x)
print('y',y)

y [1, 2, 3]
x [2, 2, 3]
y [2, 2, 3]

In [ ]:
## remove  specific item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [60]:
# remove last or random item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": None
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
# del removes the item with the specified key

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [61]:
#del can also delete the dictionary completely
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [62]:
# empties the dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [65]:
# sum values 
s = {'a':1,'b':2,'c':3}
sum(s.values())

6

## **If Condition**
An if statement is a conditional statement that runs or skips code based on whether a condition is true or false

In [68]:
a = 20
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")
    
#print("a = 200")

b is greater than a
a = 200

In [69]:
# and 
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [70]:
# OR 
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
points = 174

# set prize to default value of None
prize = None

# use the value of points to assign prize to the correct prize name
if points <= 50:
    prize = "wooden rabbit"
elif 151 <= points <= 180:  ############## Note
    prize = "wafer-thin mint"
elif points >= 181:
    prize = "penguin"

#prize = None


# use the truth value of prize to assign result to the correct message
if prize:
    result = "Congratulations! You won a {}!".format(prize)
else:
    result = "Oh dear, no prize this time."

print(result)

### Nested if

In [76]:
x = 15

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
but not above 20.

### Ternary Operators, or Conditional Expressions.

In [77]:
#One line if statement:

if a > b: print("a is greater than b")

a is greater than b

In [78]:
#One line if else statement:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
#One line if else statement, with 3 conditions:

a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

### empty if

In [80]:
a = 33
b = 200

if b > a:
      pass

IndentationError: expected an indented block (Temp/ipykernel_12040/1959912124.py, line 4)

## loops

### For Loops Vs. While Loops
Now that you are familiar with both for and while loops, let's consider when it's most helpful to use each of them.

- for loops are ideal when the number of iterations is known or finite.

- while loops are ideal when the iterations need to continue until a condition is met.

### For
- var as counter
- condition
- increment / decrement

#### **for i in range():**

range(start=0, stop, step=1)

*   The 'start' argument is the first number of the sequence. If unspecified,'start' defaults to 0.

*   The 'stop' argument is 1 more than the last number of the sequence. This argument must be specified.


*   The 'step' argument is the difference between each number in the sequence. If unspecified, 'step' defaults to 1.

In [ ]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
for i in range(3,6): # = range(3,6,1)
    print(i)

3
4
5

In [ ]:
for i in range(3): # (0,3,1)
    print(i)

0
1
2

**Loop in list**

In [85]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for i in cities:
    print(i)
    print('Next')
print("Done!")

new york city
Next
mountain view
Next
chicago
Next
los angeles
Next
Done!

In [87]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for index in range(len(cities)-2): ## first 2
    print(cities[index].title())

New York City
Mountain View

In [88]:
len(cities)-2

2

In [93]:
# update list
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
names2=[]

for name in names:
    name = name.lower().replace(" ", "_")
    names2.append(name)
    #names2+=[name] #SLOW
    print(name)

print(names2)

joey_tribbiani
monica_geller
chandler_bing
phoebe_buffay
['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

In [94]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

for i in range(len(names)):
    names[i] = names[i].lower().replace(" ", "_")

print(names)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

In [98]:
# number we'll find the factorial of

number = 6  # 1*2*3*4*5*6

# start with our product equal to one
product = 1

# calculate factorial of number with a for loop
for num in range(2, number + 1):
    product *= num
    #print(product)
    

# print the factorial of number
print(product)

720

In [ ]:
# number we'll find the factorial of

number = 6  # 1*2*3*4*5*6

# start with our product equal to one
product = 1

# calculate factorial of number with a for loop
for num in range(2, number + 1):
    product *= num
    
    #print(product)
    

# print the factorial of number
#print(product)

In [ ]:
# numbers between 0 and 10  power 2
squares = []
for n in range(10):
    squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [99]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
# for if
short_planets = []
for planet in planets:
       if len(planet) < 6:
            short_planets.append(planet)
short_planets

['Venus', 'Earth', 'Mars']

**Loop in dictionary**

In [7]:

thisdict = {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# print keys 1st way:
for x in thisdict:
  print(x)

print('\nSecond way\n')

# print keys 2n way:
for x in thisdict.keys():
  print(x)

brand
model
year

Second way

brand
model
year

In [8]:
thisdict = {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# print values 1st way:
for x in thisdict:
  print(thisdict[x])
  
print('\nSecond way\n')


# print values 2n way:
for x in thisdict.values():
  print(x)

Ford
Mustang
2020

Second way

Ford
Mustang
2020

In [9]:
# print both key&value
thisdict = {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2020

**for else!**

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
  print(x)
print("Finally finished!")

0
1
2
3
4
5
Finally finished!

**Nested Loop**

In [102]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
      for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [104]:
for x in adj:
    print(x)
for y in fruits:
    print(x, y)

red
big
tasty
tasty apple
tasty banana
tasty cherry

In [106]:
for i in range(3):
    print(adj[i],fruits[i])

red apple
big banana
tasty cherry

### While

In [ ]:
i = 1
while i <= 10:
    print(i, end=' ')
    i += 1 # increase the value of i by 1

1 2 3 4 5 6 7 8 9 10

In [107]:

# number to find the factorial of
number = 6
# start with our product equal to one
product = 1
# track the current number being multiplied
current = 1

while  current <= number:
    # multiply the product so far by the current number
    product *= current
    # increment current with each iteration until it reaches number
    current += 1


# print the factorial of number
print(product)

720

**while else**

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### Break & Continue 
Sometimes we need more control over when a loop should end, or skip an iteration. In these cases, we use the break and continue keywords, which can be used in both for and while loops.
- break terminates a loop
- continue skips one iteration of a loop

**break**

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [112]:
i = 1
while i < 6:
    if i == 3:
    break
    print(i)
    i += 1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

**continue**

In [120]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [13]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## Functions

In [1]:
# Creating a Function
def my_function():
      print("Hello from a function")

In [2]:
#calling

def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [124]:
#function with arg

def my_function():
    fname = input('Enter name')
    print(f"First Name is{fname} ")

my_function()

Enter nameNada
First Name isNada

In [125]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [126]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [ ]:
#number of arguments is unknown

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

In [129]:
#number of arguments is unknown

def my_function(*kids):
  print("The youngest child is " , kids)

my_function("Emil", "Tobias", "Linus")

The youngest child is  ('Emil', 'Tobias', 'Linus')

In [130]:

def my_function(*kids):
      print("The youngest child is " )

my_function()

The youngest child is

In [7]:
# pass list
def my_function(food):
      for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [135]:
#number of arguments is unknown

def my_function(**kid):
      print("His last name is " , kid["lname"])

my_function(fname = 'N', lname = "Refsnes") #dict

His last name is  Refsnes

In [133]:
#number of arguments is unknown

def my_function(**kid):
  print("His last name is " , kid["fname"][1])

my_function(fname = [1,2], lname = "Refsnes") #dict

His last name is  2

In [139]:
#defult paramter value
def my_function(country = "India"):
      print("I am from " + country)

my_function("Sweden")
my_function()

I am from Sweden
I am from India

In [ ]:
def my_function(country = "India"):
      print("I am from " + country)

my_function("Sweden")
my_function()

In [140]:
#return value 
def my_function(x):
      return 5 * x
x = my_function(3)
print(my_function(3) + 3)
print(my_function(5))

15

In [145]:
def bouns(x):
    return x*0.2 # the bouns = 20%

x= int(input("Enter your salary"))
b =bouns(x)
Y = x+ b
print(f"Salary = {x}, bouns= {b}, total = {Y}")

Enter your salary8000
Salary = 8000, bouns= 1600.0, total = 9600.0

## Pandas
[CLICK HERE FOR COURSE](https://learn.365datascience.com/courses/preview/data-cleaning-preprocessing-pandas/)

high-performance, easy-to-use data structures and data analysis tools for Python.

![Screenshot 2022-11-16 165129.png]()

In [ ]:
# !pip install pandas

In [146]:
import pandas as pd

**Series**

In [10]:
#series

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [147]:
#Lable

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [148]:
myvar['x']

1

**data frames**

In [12]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

print(data,'\n')

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

{'calories': [420, 380, 390], 'duration': [50, 40, 45]}

   calories  duration
0       420        50
1       380        40
2       390        45

In [156]:
df = pd.DataFrame(data, index = ["day", "day2", "day3"])
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45

**convert list to dataframe [Click Here](https://datatofish.com/list-to-dataframe/)**

In [157]:
#save dataframe to csv file
df.to_csv('file1.csv')

In [158]:
#save dataframe to csv file witout header and index

df.to_csv('file2.csv', header=False, index=False)

In [164]:
#convert dataframe to csv file 

df.to_csv(r'C:\Users\nada9\Desktop\Test\file3.csv')

In [166]:
#read csv
Data = pd.read_csv(r'C:\Users\nada9\Desktop\Test\file3.csv')
Data

  Unnamed: 0  calories  duration
0       day1       420        50
1       day2       380        40
2       day3       390        45